@font-face {
  font-family: 'branding';
  src:  url('../fonts/branding.eot?o8897i');
  src:  url('../fonts/branding.eot?o8897i#iefix') format('embedded-opentype'),
    url('../fonts/branding.ttf?o8897i') format('truetype'),
    url('../fonts/branding.woff?o8897i') format('woff'),
    url('../fonts/branding.svg?o8897i#branding') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="brand-"], [class*=" brand-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'branding' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.brand-white .path1:before {
  content: "\e900";
  color: rgb(255, 255, 255);
}
.brand-white .path2:before {
  content: "\e901";
  margin-left: -6.2919921875em;
  color: rgb(0, 0, 0);
}
.brand-white .path3:before {
  content: "\e902";
  margin-left: -6.2919921875em;
  color: rgb(0, 0, 0);
}
.brand-white .path4:before {
  content: "\e903";
  margin-left: -6.2919921875em;
  color: rgb(0, 0, 0);
}
.brand-white .path5:before {
  content: "\e904";
  margin-left: -6.2919921875em;
  color: rgb(255, 255, 255);
}
.brand-white .path6:before {
  content: "\e905";
  margin-left: -6.2919921875em;
  color: rgb(255, 255, 255);
}
.brand-white .path7:before {
  content: "\e906";
  margin-left: -6.2919921875em;
  color: rgb(255, 255, 255);
}
.brand-white .path8:before {
  content: "\e907";
  margin-left: -6.2919921875em;
  color: rgb(255, 255, 255);
}
.brand-white .path9:before {
  content: "\e908";
  margin-left: -6.2919921875em;
  color: rgb(255, 255, 255);
}
.brand-white .path10:before {
  content: "\e909";
  margin-left: -6.2919921875em;
  color: rgb(255, 255, 255);
}
.brand-white .path11:before {
  content: "\e90a";
  margin-left: -6.2919921875em;
  color: rgb(255, 0, 0);
}
.brand-white .path12:before {
  content: "\e90b";
  margin-left: -6.2919921875em;
  color: rgb(255, 0, 0);
}
.brand-black .path1:before {
  content: "\e90c";
  color: rgb(0, 0, 0);
}
.brand-black .path2:before {
  content: "\e90d";
  margin-left: -6.2919921875em;
  color: rgb(255, 255, 255);
}
.brand-black .path3:before {
  content: "\e90e";
  margin-left: -6.2919921875em;
  color: rgb(255, 255, 255);
}
.brand-black .path4:before {
  content: "\e90f";
  margin-left: -6.2919921875em;
  color: rgb(255, 255, 255);
}
.brand-black .path5:before {
  content: "\e910";
  margin-left: -6.2919921875em;
  color: rgb(0, 0, 0);
}
.brand-black .path6:before {
  content: "\e911";
  margin-left: -6.2919921875em;
  color: rgb(0, 0, 0);
}
.brand-black .path7:before {
  content: "\e912";
  margin-left: -6.2919921875em;
  color: rgb(0, 0, 0);
}
.brand-black .path8:before {
  content: "\e913";
  margin-left: -6.2919921875em;
  color: rgb(0, 0, 0);
}
.brand-black .path9:before {
  content: "\e914";
  margin-left: -6.2919921875em;
  color: rgb(0, 0, 0);
}
.brand-black .path10:before {
  content: "\e915";
  margin-left: -6.2919921875em;
  color: rgb(0, 0, 0);
}
.brand-black .path11:before {
  content: "\e916";
  margin-left: -6.2919921875em;
  color: rgb(255, 0, 0);
}
.brand-black .path12:before {
  content: "\e917";
  margin-left: -6.2919921875em;
  color: rgb(255, 0, 0);
}
